<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <h1><%= title %></h1>
  <a href="/">Back to Home</a>
  <ul>
    <% tracks.forEach(track => { %>
      <li>
        <strong><%= track.song %></strong> added on <%= track.dateAdded.toDateString() %>
        
      </li>
    <% }); %>
  </ul>
</body>
</html>