<!DOCTYPE html>
<html>
  <head>
    <title>Track-Track | All Tracks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Tracks</h1>
    <ul>
      <% tracks.forEach(track => { %>
        <li>
          <!-- Display other fields... -->
          Source:
          <ul>
            <% track.source.forEach(source => { %>
              <li><%= source.originalSource %></li>
              <!-- Display other source fields if needed -->
            <% }) %>
          </ul>
          Discovered:
          <ul>
            <% track.discovery.forEach(discovery => { %>
              <li><%= discovery.originalDisco %></li>
              <!-- Display other discovery fields if needed -->
            <% }) %>
          </ul>
          Link:
          <ul>
            <% track.link.forEach(link => { %>
              <li><%= link.trackLink %></li>
              <!-- Display other link fields if needed -->
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>
  </body>
</html>