<!DOCTYPE html>
<html>
  <head>
    <title>Track-Track</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Track-Track</h1>
    <p>Collect music</p>
    <a href="/viewTracks/all">View All Tracks</a>
    <a href="/tracks/add">Add New Track</a>
    <a href="/tracks/addNewSource">Add New Source</a>
    <a href="/tracks/addNewDiscovery">Add New Discovery</a>
  </body>
</html>