<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <% if (locals.user) { %>
      <p>Welcome to <%= title %>, <%= locals.user.username %>!</p>
      <a href="/trackView/userTracks">My Tracks</a>
      <a href="/auth/logout">Log Out</a>
    <% } else { %>
      <p>Welcome, Guest! <a href="/auth/google">Log in</a></p>
    <% } %>
    
    <ul>
      <li><a href="/add/addTrack">Add New Track</a></li>
      <!-- <li><a href="/add/editTrack">Edit Track</a></li> -->
      <li><a href="/trackView/all">All Tracks</a></li>
      <li><a href="/trackView/bySong">All Tracks by Song A-Z</a></li>
      <li><a href="/trackView/byDate">All Tracks by Date Added</a></li>
      <li><a href="/trackView/byArtist">All Tracks by Artist</a></li>
      <li><a href="/trackView/byStreamSource">All Tracks by Streaming Source</a></li>
      <li><a href="/trackView/byDiscoSource">All Tracks by Discovery Source</a></li>
      <li><a href="/add/addStreamingSource">Add Streaming Source</a></li>
      <li><a href="/streamingSourceView">Streaming Sources</a></li>
    </ul>
  </body>
</html>