<!DOCTYPE html>
<html>
<head>
  <title>Track-Track<% if (locals.user) { %> | <%= locals.user.username %><% } %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/stylesheets/index.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container text-center">
    <h1>Track<img src="/images/icons/headphones.png" id="imagepad" alt="Headphones Icon" width="33" height="33">Track</h1>
    
    <nav class="navbar">
      <div class="navbar-center">
        <% if (locals.user) { %>
          <p class="navbar-text">Welcome to <%= title %>, <strong><%= locals.user.username %></strong>!</p>
          
          <div class="navbar-nav">
            <div class="btn-group">
              <a class="btn btn-outline-primary" href="/trackView/userTracks">My Tracks</a>
              <a href="/auth/logout" class="btn btn-outline-secondary">Log Out</a>
            </div>
          </div>
          
        <% } else { %>
          <p class="navbar-text">Welcome to <%= title %>!</p>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/auth/google">
              <button class="gsi-material-button" id="google-sign-in-button">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                  <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                      <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                      <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                      <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                      <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                      <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                  </div>
                  <span class="gsi-material-button-contents">Sign in</span>
                  <span style="display: none;">Sign in with Google</span>
                </div>
              </button>
            </a>
            </li>
          </ul>
        <% } %>
      </div>
    </nav>

    <% if (locals.user) { %>
      <div class="circle-button mx-auto">
        <a id="plusaddtrack" href="/add/addTrack">+ Add Track</a>
      </div>
    <% } else { %>
      <div class="message-for-guests">
        Sign in to add a track!
      </div>
    <% } %>
    

    <div class="d-flex flex-column justify-content-center text-center">
      <a class="wider-rectangle-link mx-auto" id="atrax" href="/trackView/all">ALL TRACKS</a>
      <a class="wider-rectangle-link mx-auto" href="/trackView/bySong">All Tracks by Song A-Z</a>
      <a class="wider-rectangle-link mx-auto" href="/trackView/byDate">All Tracks by Date Added</a>
      <a class="wider-rectangle-link mx-auto" href="/trackView/byArtist">All Tracks by Artist</a>
      <a class="wider-rectangle-link mx-auto" href="/trackView/byStreamSource">All Tracks by Streaming Source</a>
      <a class="wider-rectangle-link mx-auto" href="/trackView/byDiscoSource">All Tracks by Discovery Source</a>
      <a class="wider-rectangle-link mx-auto" id="ssources" href="/streamingSourceView">Streaming Sources</a>
    </div>
    

    <ul class="list-unstyled">

    </ul>
  </div>
</body>
</html>
