<!DOCTYPE html>
<html>
  <head>
    <title>Track-Track</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Track-Track</h1>
    <p>Collect music</p>
  </body>
</html>
