<!DOCTYPE html>
<html>
<head>
  <title>Add Streaming Source</title>
  <link href="/stylesheets/addTrack.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <h1 class="mb-4 text-center">Add Streaming Source</h1>
    <form action="/streamingSource/add" method="POST">
      <div class="mb-3 form-group">
        <label for="name" class="form-label">Streaming Source Name:</label>
        <input type="text" name="name" class="form-control" required>
      </div>
      <div class="row mb-3">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block">Add Streaming Source</button>
        </div>
        <div class="col">
          <a href="javascript:history.back()" class="btn btn-secondary btn-block">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
