body {
    font-family: 'Titillium Web', sans-serif;
    padding: 20px;
    background-image: url('/images/backgrounds/trackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
}

form {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form label, form select, form input, a {
    width: 100%;
    margin-bottom: 15px;
}

form input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.streamloggeduser {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titillium Web', sans-serif;
}

#deleteModalButton {
    border: none;
    box-shadow: none;
}

#sourceDropdown {
    width: 80%;
    margin-left: 15px;
    background-color: #ffffff;
    color: black;
    border-color: #ccc;
}

#favoriteArea {
    margin-bottom: 25px;
}

#addNewSrc {
    margin-left: 2px;
    border: 1px solid #ccc;
}

#sSrcBttns {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#editSrcBut {
    border: 1px solid #ccc;
    margin-left: 5px;
}

#footBttns {
    display: flex;
    flex-direction: row;
}

#narFieldz {
    font-family: 'Titillium Web', sans-serif;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#lnkField {
    font-family: 'Titillium Web', sans-serif;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
}

#discSect {
    padding-top: 20px;
}

#sSrcSect {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#srcLabel {
    align-self: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-weight: 600;
}

#linkLab {
    align-self: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
}

#srcNote {
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 7px;
    text-align: center;
}

#loggeduser {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-weight: 300;
}

#imagepad {
    margin-right: 10px;
    margin-bottom: 2px;
}