body {
    background-image: url('/images/backgrounds/trackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 60px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons {
    display: flex;
    align-items: center;
}

.streamloggeduser {
    margin-top: 10px;
}