/* Reset some Bootstrap button styles */
.btn-primary,
.btn-danger {
  color: #fff !important;
  font-weight: bold !important;
}

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  background-image: url('/images/backgrounds/trackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 50px;
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

/* Centered content styles */
.navbar-center,
.circle-button,
.rectangle-link,
.d-flex.flex-column.justify-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Circle button styles */
.circle-button {
  width: 175px;
  height: 175px;
  background-color: #708090;
  color: #d4ff32;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  border: #ccc 8px double;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.circle-button a {
  color: white;
  text-decoration: none;
}

/* Rectangle link styles */
.rectangle-link,
.wider-rectangle-link {
  width: 200px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  font-size: 23px;
  text-decoration: none;
  font-style: italic;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Wider rectangle link styles */
.wider-rectangle-link {
  width: 280px;
  height: 80px;
  padding: 10px;
  margin: 10px;
  background-color: #36454f;
  border: 4px solid #ccc;
  border-radius: 5px;
}

/* Navbar link styles */
.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
}

/* Hover styles for circle buttons */
.circle-button a:hover {
  background-color: #133e7c;
}

.rectangle-link:hover .wider-rectangle-link:hover {
  color: #36454f;
  background-color: #d4ff32;
}

h1 {
  font-size: 62px;
  margin-bottom: 20px;
}

.navbar-center {
  margin-top: 8px;
  color: black;
}

.navbar-text .navbar-nav .navbar-center {
  color: black;
}

#ssources {
  background-color: #ccc;
  border: 4px solid #36454f;
  color: #36454f;
  font-weight: bold;
  font-style: normal;
}

#atrax {
  font-weight: bold;
  font-style: normal;
  color: white;
}