/* Reset some Bootstrap button styles */
.btn-primary,
.btn-danger {
  color: #fff !important;
  font-weight: bold !important;
}

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* Centered content styles */
.navbar-center,
.circle-button,
.rectangle-link,
.d-flex.flex-column.justify-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Circle button styles */
.circle-button {
  width: 200px;
  height: 200px;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: #fff 5px dashed;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.circle-button a {
  color: #fff;
  text-decoration: none;
}

/* Rectangle link styles */
.rectangle-link,
.wider-rectangle-link {
  width: 200px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Wider rectangle link styles */
.wider-rectangle-link {
  width: 220px;
  height: 60px;
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Navbar link styles */
.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.navbar-nav .nav-link {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
}

/* Hover styles for circle buttons */
.circle-button a:hover,
.rectangle-link:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 60px;
}