body {
    background-image: url('/images/backgrounds/trackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

h3 {
    font-size: 40px;
    margin-top: 50px;
}

.list-unstyled {
    font-size: 25px;
}

.slabel {
    font-weight: bold;
}

.comments-list {
    font-size: 20px;
    width: 80%;
    margin-left: 35px;
    background-color: #ffffff;
    color: black;
    border-color: #ccc;
    border-radius: 10px;
    padding-bottom: 8px;
}

#commenth3 {
    margin-top: 5px;
}

#bottombuttons {
    margin-top: 25px;
}

#imagepad {
    margin-right: 10px;
    margin-bottom: 2px;
}

#commentsSec {
    background-color: rgba(255, 255, 255, 0.9);
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.youtube-video {
    margin-left: 10px;
}