<!DOCTYPE html>
<html>
<head>
  <title>Track-Track | Add New Track</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Add New Track</h1>
  <form action="/addTrack" method="post">
    <label for="song">Song:</label>
    <input type="text" id="song" name="song" required><br>

    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist" required><br>

    <label for="album">Album:</label>
    <input type="text" id="album" name="album"><br>

    <label for="dateAdded">Date Added:</label>
    <input type="date" id="dateAdded" name="dateAdded"><br>

    <label for="favorite">Favorite:</label>
    <input type="checkbox" id="favorite" name="favorite"><br>

    <label for="source">Source:</label>
    <select id="source" name="source">
      <% sources.forEach(source => { %>
        <option value="<%= source._id %>"><%= source.originalSource %></option>
      <% }) %>
    </select><br>
    
    <label for="discovery">Discovery:</label>
    <select id="discovery" name="discovery">
      <% discoveries.forEach(discovery => { %>
        <option value="<%= discovery._id %>"><%= discovery.originalDisco %></option>
      <% }) %>
    </select><br>
    
    <label for="link">Link:</label>
    <input type="text" id="link" name="link" required><br>
    
    <button type="submit">Add Track</button>
  </form>
</body>
</html>