<!DOCTYPE html>
<html>
<head>
  <title>Track-Track | Add New Source</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Add New Source</h1>
  <form action="/addSource" method="POST">
    <label for="originalSource">Original Source:</label>
    <input type="text" id="originalSource" name="originalSource" required><br>

    <label for="otherSource1">Other Source 1:</label>
    <input type="text" id="otherSource1" name="otherSource1" required><br>

    <label for="otherSource2">Other Source 2:</label>
    <input type="text" id="otherSource2" name="otherSource2" required><br>

    <label for="otherSource3">Other Source 3:</label>
    <input type="text" id="otherSource3" name="otherSource3" required><br>

    <button type="submit">Add Source</button>
  </form>
</body>
</html>