<!DOCTYPE html>
<html>
<head>
  <title>Track-Track | Add New Discovery Source</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Add New Discovery Source</h1>
  <form action="/addDiscovery" method="POST">
    <label for="originalDisco">Original Discovery:</label>
    <input type="text" id="originalDisco" name="originalDisco" required><br>

    <label for="otherDisco1">Other Discovery 1:</label>
    <input type="text" id="otherDisco1" name="otherDisco1" required><br>

    <label for="otherDisco2">Other Discovery 2:</label>
    <input type="text" id="otherDisco2" name="otherDisco2" required><br>

    <label for="otherDisco3">Other Discovery 3:</label>
    <input type="text" id="otherDisco3" name="otherDisco3" required><br>

    <button type="submit">Add Discovery</button>
  </form>
</body>
</html>